/**
 *
 * {{properCase componentName}}
 *
 * @author {{username}}
 * @date {{date}}
*/

import React from 'react';
import './{{properCase componentName}}.scss';

const {{properCase componentName}} = () => {
  return (
    <h1>{{properCase componentName}}</h1>
  )
}

export default {{properCase componentName}};
